body {
  margin: 0;
  padding: 0;
  position: relative;
  transition: background-color 3s;
}

* {
  font-family: 'EB Garamond', serif;
}

.body-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  position: fixed;
  pointer-events: none;
}
.body-info div {
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
  transform: translateX(-20%) translateY(350%) rotate(-90deg);
}
.bottom-left {
  bottom: 0;
  left: 0;
  transform: translateX(-20%) translateY(-350%) rotate(-90deg);
}
.top-right {
  top: 0;
  right: 0;
  transform: translateX(-25%) translateY(200%) rotate(-90deg);
  pointer-events: all;
  cursor: pointer;
  z-index: 5;
}
.bottom-right {
  bottom: 0;
  right: 0;
  transform: translateX(0%) translateY(-320%) rotate(-90deg);
}
.info-item {
  transition: color 1s;
}

.menu {
  right: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: rgba(255,255,255,0.9);
  transition: right 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active {
  right: 0px;
}
.menu p {
  pointer-events: all;
  cursor: pointer;
}

* {
  cursor: default;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

@font-face {
    font-family: cooper-heavy;
    src: url(../fonts/CooperHewitt-Heavy.woff);
}
@font-face {
    font-family: cooper-medium;
    src: url(../fonts/CooperHewitt-Medium.woff);
}
@font-face {
    font-family: cooper-thin;
    src: url(../fonts/CooperHewitt-Thin.woff);
}

.cooper-heavy {
  font-family: 'cooper-heavy';
}
.cooper-medium {
  font-family: 'cooper-medium';
}
.cooper-thin {
  font-family: 'cooper-thin';
}

.text-large {
  font-size: 5rem;
  margin: 0;
}
.text-medium {
  font-size: 3rem;
  margin: 0;
}
.text-tiny {
  font-size: 0.8rem;
}
.text-tinier {
  font-size: 0.7rem;
}

section {
  min-height: 100vh;
}

.section-1 {
  position: relative;
  height: calc(14062px + (6.2 * 1600px));
  width: 100%;
}
.section-1 section{
  position: fixed;
}

.sub-section-1 {
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-section-1 img {
  animation: pulsing 4s infinite;
}
@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.sub-section-2 {
  margin-left: 1600px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-section-3 {
  margin-left: calc(1600px * 4.5);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dots {
  transition: all 2s;
}

.sub-section-4 {
  margin-left: calc(1600px * 6);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-section-4 p{
  transition: color 1s, opacity 1s;
}

.sub-section-2 .circle {
  margin-right: 20px;
}

.circle {
  height: 500px;
  max-width: 90%;
  transition: opacity 2s, height 2s;;
}

.veridico-container {
  position: relative;
}
.veridico-span {
  position: absolute;
  right: 0;
  top: 8px;
  color: white;
}

.section-2 {
  position: relative;
  width: 100%;
  transition: background-color 3s;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-left: 20%;
  padding-right: 20%;
  box-sizing: border-box;
}

.section-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  margin-top: 24px;
}

.section-left {
  z-index: 10;
  width: 70%;
  font-family: 'cooper-thin';
}
.section-right {
  z-index: 5;
  font-size: 140%;
  margin-left: -30%;
  width: 70%;
  filter: blur(5px);
  transition: filter 1s;
}

.miopia, .extranjero {
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -20;
  transition: opacity 3s;
}

.sub-section-5 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 870px) {
    .shuffle-container {
        font-size: 5rem;
    }
}

.shuffle-container {
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  font-family: 'cooper-heavy';
}
.shuffle-container span, .shuffle-container p {
  font-family: 'cooper-heavy';
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* For mobile, width: 160vw; */
  width: 85vw;
  height: 85vh;
  position: relative;
}

.book-page, .book-page-also {
  background: white;
}

.page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'cooper-thin';
}
.page-speach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}
.page-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'cooper-thin';
}

.page-bible {

}

.book-content {
  height: 100%;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.book-center {
  border-right: solid 1px black;
  box-sizing: border-box;
  transition: border 0.2s;
}

.even-overlay {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}
.odd-overlay {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px;
  padding-right: 16px;
  box-sizing: border-box;
}

.book-last {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 60vw;
  align-items: center;
  font-size: 6rem;
  font-family: 'cooper-heavy';
  white-space: nowrap;
  color: white;
  transition: opacity 3s;
  opacity: 0;
}
